doctype html
html#html
  head
    meta(charset="utf-8")
    title Gulp-babel-jade-less-starter

    //- bower:css
    //- endinject

    //- our:css
    //- endinject

  body#body
    my-button.btn.btn-primary() My Button

    //- bower:js
    //- endinject

    //- our:js
    //- endinject
